<link rel="stylesheet" href="../public/css/catalogo.css">
<%- include ("partials/_header.ejs") %>
<form action="catalogo" method="post" id="formulario">
    <select name="CategoriaID" id="Categoria">
        <option value="">Buscador</option>
        <%categoria.forEach(e=> {%>
            <option value="<%=e.CategoriaID%>"><%= e.Categoria%></option>
        <%}) %>
    </select>
    <button type="button" class="btn" id="btnForm">
        <span>filtrar</span>
    </button>
</form>
<div id="productos">
        <% data.forEach(e => { %>
        <div class="producto">
            <h1 class="titulo"><%= e.Producto%></h1>
            <br>
            <button class="btn" onclick="producto(<%= e.ProductoID %>)">
                    <span>
                        VER MAS
                    </span>
            </button>
            <br>
            <h2 class="descripcion"><%= e.Descripcion%></h2>
            <br><br>
            <img class="product-img" src="../public/products/<%= e.Imagen%>">
        </div>
    <% }) %>
    </div>
    <script src="../public/js/catalogo.js"></script>
<%- include("partials/_footer.ejs")%>